body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 15px;
}

img {
  width: 100px;
  align-content: center;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Button:enabled {
  background-color: #69f0ae;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Button-delete:enabled {
  background-color: #df5f24;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Button-atualize:enabled {
  background-color: #2494df;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Button-admin:enabled {
  background-color: rgb(241, 200, 15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Button-main:enabled {
  background-color: rgb(13, 124, 128);
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.TextField {
  background-color: aliceblue;
  border-radius: 5%;
  margin-bottom: 5px;
}

.Typography {
  color: aliceblue;
  font-family:cursive;
  margin-top: 20px;
}

.Stack {
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Box {
  padding-bottom: 15px;
  align-content: center;
}

.Login {
  background-color: aquamarine;
}

.Grid {
  align-items: center;
  align-content: center;
  justify-content: right;
}

.Index-services {
  margin: 20px;
  padding-left: 5px;
  align-content: center;
  border: 2px rgb(17, 184, 100) solid;
  color: rgb(80, 78, 75);
  background-color: rgba(127, 255, 212, 0.295);
  border-radius: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Table {
  font-family:'Times New Roman', Times, serif;
}